.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar{
  justify-content: space-between;
  background: linear-gradient(to right, #61dafb, #282c34);
  padding: 12px 32px;
}

.Home{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.card-header{
  background: linear-gradient(to right, #61dafb, #282c34);
  color:whitesmoke;
  border: 0px solid transparent;
}

a {
  color: #282c34;
}

.phoneDetails {
  display: flex;
  justify-content: center;
}

.phoneCard{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border-color: #61dafb;
  border: 2px solid transparent;
}


.cardTitle, .buttonPhone{
  background: linear-gradient(to right, #61dafb, #282c34);
  color:whitesmoke;
  border: 0px solid transparent;
}

.grid {
  display: flex;
  flex-flow: row wrap; 
}

.card-phones {
  display: flex;
	width:230px;
	background-color:rgb(244, 241, 241);	
}

h5 {
  font-family: times, serif;
  font-size: 12pt;
}

h4 {
  font-family: times, serif;
  font-size: 14pt;
}

h2 {
  font-family: times, serif;
  font-size: 32pt;
}

